header .container-logo {
  width: 60%;
  height: 6.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.842); }
  header .container-logo .container-logo__img {
    width: 22rem;
    height: auto;
    object-fit: cover;
    margin: 2px 10px 0 14px; }

header nav .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem; }
  header nav .nav-container .nav-item__menu {
    font-size: 1.5rem;
    color: #333;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding: 0 3.39rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.842);
    margin-bottom: 5rem; }
  header nav .nav-container a:hover {
    background-color: #FFA500;
    font-weight: bolder; }

.container-fluid {
  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
  grid-auto-rows: auto;
  grid-template-areas: "aside main aside2";
  column-gap: 0.3rem;
  grid-area: aside; }
  .container-fluid .container-outstanding {
    grid-area: aside;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column; }
    .container-fluid .container-outstanding .container-title {
      font-size: 2rem;
      color: black;
      font-weight: bolder;
      text-align: left;
      text-decoration: none;
      padding: 0.2rem 1rem;
      border-bottom: 1px black solid; }
    .container-fluid .container-outstanding article .card-outstanding img {
      width: 100%;
      height: auto;
      padding: 1rem 0rem;
      object-fit: cover; }
    .container-fluid .container-outstanding article .card-outstanding .card-outstanding__item h3 strong {
      font-size: 1.3rem;
      color: red;
      font-weight: 300;
      text-align: left;
      text-decoration: none;
      padding: 0.5rem 0rem; }
    .container-fluid .container-outstanding article .card-outstanding .card-outstanding__title p {
      font-size: 1.8rem;
      color: black;
      font-weight: 500;
      text-align: left;
      text-decoration: none;
      padding: 1.2rem 0rem; }
    .container-fluid .container-outstanding article .card-outstanding .card-outstanding__footer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container-fluid .container-outstanding article .card-outstanding .card-outstanding__footer span {
        font-size: 1.35rem;
        color: gray;
        font-weight: 200;
        text-align: left;
        text-decoration: none; }
      .container-fluid .container-outstanding article .card-outstanding .card-outstanding__footer .footer-icon {
        color: red; }
  .container-fluid .section .card {
    grid-area: main; }
    .container-fluid .section .card .card-item {
      background-color: red; }
      .container-fluid .section .card .card-item a {
        font-size: 1.3rem;
        color: red;
        font-weight: 300;
        text-align: left;
        text-decoration: none; }
  .container-fluid .container-opinions {
    grid-area: aside2;
    padding: 1rem 1rem;
    display: grid; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
