header .container-logo {
  width: 60%;
  height: 6.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.842); }
  header .container-logo .container-logo__img {
    width: 22rem;
    height: auto;
    object-fit: cover;
    margin: 2px 10px 0 14px; }

header nav .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem; }
  header nav .nav-container .nav-item__menu {
    font-size: 1.5rem;
    color: #333;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding: 0 3.39rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.842);
    margin-bottom: 5rem; }
  header nav .nav-container a:hover {
    background-color: #FFA500;
    font-weight: bolder; }

.container-fluid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 2fr 6fr 4fr;
  grid-template-areas: "aside main aside2";
  column-gap: 1.5rem;
  grid-area: aside; }
  .container-fluid .container-outstanding {
    grid-area: aside;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column; }
    .container-fluid .container-outstanding .container-title {
      font-size: 2rem;
      color: black;
      font-weight: bolder;
      text-align: left;
      text-decoration: none;
      padding: 0.2rem 1rem;
      border-bottom: 1px black solid; }
    .container-fluid .container-outstanding article .card-outstanding img {
      width: 100%;
      height: auto;
      padding: 1rem 0rem;
      object-fit: cover; }
    .container-fluid .container-outstanding article .card-outstanding .card-outstanding__item h3 strong {
      font-size: 1.3rem;
      color: red;
      font-weight: 300;
      text-align: left;
      text-decoration: none;
      padding: 0.5rem 0rem; }
    .container-fluid .container-outstanding article .card-outstanding .card-outstanding__title p {
      font-size: 1.8rem;
      color: black;
      font-weight: 500;
      text-align: left;
      text-decoration: none;
      padding: 1.2rem 0rem; }
    .container-fluid .container-outstanding article .card-outstanding .card-outstanding__footer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container-fluid .container-outstanding article .card-outstanding .card-outstanding__footer span {
        font-size: 1.35rem;
        color: gray;
        font-weight: 200;
        text-align: left;
        text-decoration: none; }
      .container-fluid .container-outstanding article .card-outstanding .card-outstanding__footer .footer-icon {
        color: red; }
        .container-fluid .container-outstanding article .card-outstanding .card-outstanding__footer .footer-icon i {
          padding: 0 0.4rem; }
  .container-fluid .card {
    grid-area: main; }
    .container-fluid .card .card-item h3 {
      font-size: 1.5rem;
      color: red;
      font-weight: 400;
      text-align: left;
      text-decoration: none;
      padding: 0.5rem 0rem;
      font-family: Arial, Helvetica, sans-serif; }
    .container-fluid .card .title-container {
      font-size: 4em;
      color: black;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      padding: 0.5rem 0rem 1rem 0rem; }
    .container-fluid .card .subtitle-container p {
      font-size: 1.65rem;
      color: black;
      font-weight: light;
      text-align: justify;
      text-decoration: none;
      padding: 0.5rem 0rem 0.5rem 1rem;
      font-family: Arial, Helvetica, sans-serif; }
    .container-fluid .card .container-img {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-fluid .card .container-img .container-img-article {
        height: auto;
        object-fit: cover; }
    .container-fluid .card .container-source p {
      font-size: 1.35rem;
      color: black;
      font-weight: 500;
      text-align: left;
      text-decoration: none;
      padding: 0.1rem 1rem 1rem 1rem; }
    .container-fluid .card .card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container-fluid .card .card-footer span {
        font-size: 1.6rem;
        color: gray;
        font-weight: 200;
        text-align: left;
        text-decoration: none;
        padding: 0.1rem 1rem 1rem 1rem; }
      .container-fluid .card .card-footer .footer-icon {
        color: red;
        padding: 0.1rem 1rem 1rem 0; }
        .container-fluid .card .card-footer .footer-icon i {
          padding: 0 0.4rem; }
  .container-fluid .container-opinions {
    grid-area: aside2; }
    .container-fluid .container-opinions nav .wrapper-opinions {
      border-top: 1px black solid;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2rem;
      margin: 0 1rem; }
    .container-fluid .container-opinions nav a {
      font-size: 1.8rem;
      color: black;
      font-weight: bolder;
      text-align: center;
      text-decoration: none;
      padding: 0.5rem 1.5rem; }
    .container-fluid .container-opinions .card-opinions {
      width: 90%;
      display: grid;
      grid-template-columns: 3fr 9fr;
      grid-auto-rows: auto;
      padding: 2.5rem 0;
      margin-left: 2rem; }
      .container-fluid .container-opinions .card-opinions .card-opinions__img {
        width: 8rem;
        border-radius: 10rem; }
      .container-fluid .container-opinions .card-opinions .card-opinions__body h3 {
        font-size: 2.2rem;
        color: black;
        font-weight: 500;
        text-align: left;
        text-decoration: none;
        padding: 0.9rem 0; }
      .container-fluid .container-opinions .card-opinions .card-opinions__body p {
        font-size: 1.5rem;
        color: black;
        font-weight: bolder;
        text-align: left;
        text-decoration: none; }
      .container-fluid .container-opinions .card-opinions .card-opinions__body .card-opinions__footer {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .container-fluid .container-opinions .card-opinions .card-opinions__body .card-opinions__footer span {
          font-size: 1.3rem;
          color: gray;
          font-weight: 200;
          text-align: left;
          text-decoration: none;
          padding: 0.5rem 1rem 0.5rem 1rem; }
        .container-fluid .container-opinions .card-opinions .card-opinions__body .card-opinions__footer .footer-icon {
          color: red;
          padding: 0.1rem 1rem 1rem 0; }
          .container-fluid .container-opinions .card-opinions .card-opinions__body .card-opinions__footer .footer-icon i {
            padding: 0 0.4rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
