aside nav .wrapper-opinions {
  display: flex;
  justify-content: center;
  align-items: center; }

nav article .card-outstanding {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: row wrap; }

header .container-logo {
  width: 60%;
  height: 6.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.842); }
  header .container-logo .container-logo__img {
    width: 22rem;
    height: auto;
    object-fit: cover;
    margin: 2px 10px 0 14px; }

header nav .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem; }
  header nav .nav-container .nav-item__menu {
    font-size: 1.5rem;
    color: #333;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    padding: 0 3.39rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.842);
    margin-bottom: 5rem; }
  header nav .nav-container a:hover {
    background-color: #FFA500;
    font-weight: bolder; }

.container-fluid {
  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
  grid-auto-rows: auto;
  grid-template-areas: "aside main aside2";
  column-gap: 1rem;
  grid-area: aside; }
  .container-fluid .container-outstanding {
    grid-area: aside;
    padding: 1rem 1rem; }
  .container-fluid .section .card {
    grid-area: main;
    padding: 1rem 1rem; }
  .container-fluid .container-opinions {
    grid-area: aside2;
    padding: 1rem 1rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
