@mixin flex-box ($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

aside {
    nav {
        .wrapper-opinions {
            @include flex-box(flex, center, center);
        }
    }
}