@mixin text ($size, $color, $heigth, $align, $decoration) {
    font-size: $size;
    color: $color;
    font-weight: $heigth;
    text-align: $align;
    text-decoration: $decoration;
}

@mixin flex-box ($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

header {
    .container-logo {
        height: 100%;
        height: auto;
        margin: 0 auto;
        @include flex-box(flex, center, center);
        padding: 1rem 2rem;
        margin: 2rem 0;
        .container-logo__img {
            width: 35rem;
            height: auto;
            object-fit: contain;
        }
    }
    nav {
        .nav-container {
            @include flex-box(flex, center, center);
            padding: 0 5rem;
            .nav-item__menu {
                @include text(1.5rem, #333, 200, center, none);
                padding: 0.8rem 3.39rem;
                margin-bottom: 5rem;
                border-top: 1px black solid;
                border-bottom: 1px black solid;
            }
            a:hover {
                font-weight: bolder;
            }
        }
    }
}